.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

#test{
    font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}