body{
    margin: 0;
    padding: 0;
}

nav{
    height: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

ul{
    display: flex;
    list-style: none;
}

li{
    margin-right: 40px;
    box-sizing: border-box;
    height: 80px;
    line-height: 80px;
    font-weight: bolder;
}

#logo{
    height: 80px;
}

.container{
    text-align: center;
}